/******* Header Container *******/
.header-contact {
  background-image: url(../images/el-nido.jpg);
  height: 100%;
}

/******* Contact Information *******/
#contact-card-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(rgba(162, 32, 23, 0.27),rgba(201, 189, 29, 0.25));
  animation: makeAppear 1.5s ease-in 1s backwards;
}

.my-info {
  color: white;
}

.my-info h1 {
  font-size: 2rem;
  padding: .75rem;
}

.my-info p {
  text-align: center;
}

.my-info a {
  color: white;
  cursor: pointer;
}

#contact {
  margin: .5rem auto 0;
  width: 70%;
}

.input-field {
  padding: .4rem;
  color: white;
}

input, textarea {
  text-align: center;
  justify-content: center;
  padding: .5rem;
  border-radius: 5px;
  opacity: .5;
}

input[type="submit"] {
  cursor: pointer;
}
