header {
  background-image: url(../img/peaceful-scotland.jpg);
}

nav {
  background-color: rgba(116, 86, 52, 0.77);
}

@media all and (min-width: 768px) {
  #title-container p {
    margin: 0 auto;
    padding: 1rem;
    width: 85%;
    background-color: hsla(82, 52%, 13%, 0.27);
    border-radius: 25px;
  }
}
