header {
  background-image: url(../images/scotland.jpg);
}

.span {
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.span-1 {
  font-size: 3rem;
  animation: moveInRightLarge 2s ease backwards;
}

.span-2 {
  font-size: 1.5rem;
  font-style: italic;
  animation: moveInLeftShort 1.5s ease .5s backwards;
}

@keyframes moveInRightLarge {
  0% {
    opacity: 1%;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }

  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeftShort {
  0% {
    opacity: 1%;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }

  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


























@media (min-width: 600px) {
  .btn:link, .btn:visited {
    width: 30%;
  }
}


@media (min-width: 768px) {
  .btn:link, .btn:visited {
    width: 20%;
  }
}
