.header-home {
  background-image: url(../images/scotland.jpg);
}

.span {
  display: block;
  margin: 0 auto;
  padding: 1rem;
}

.span-1 {
  font-size: 3rem;
  animation: moveInRightLarge 2s ease .75s backwards;
}

.span-2 {
  font-size: 2.4rem;
  font-style: italic;
  animation: moveInBottom 1.5s ease 1.5s backwards;
}

.btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.71);
  margin: 3rem auto;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 0;
  border-radius: 50px;
  width: 50%;
  text-decoration: none;
  color: rgba(162, 32, 23, 0.67);
  transition: .1s ease;
  animation: moveInBottom 1.5s ease 1.75s backwards;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.71);
  background: rgba(162, 32, 23, 0.67);
  /*border: 1px solid black;
  text-shadow: 1px 1px black;*/
}

@keyframes moveInRightLarge {
  0% {
    opacity: 1%;
    -webkit-transform: translateX(20rem);
            transform: translateX(20rem);
  }

  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 1%;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }

  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInLeftShort {
  0% {
    opacity: 1%;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }

  100% {
    opacity: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


@media (min-width: 600px) {
  .btn:link, .btn:visited {
    width: 30%;
  }
}


@media (min-width: 768px) {
  .btn:link, .btn:visited {
    width: 20%;
  }
}
