@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes makeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  max-width: 1600px;
  background-color: floralwhite;
  color: #00050f;
}

main {
  width: 100%;
}

img {
  width: 100%;
}

body {
  font-family: 'Montserrat', 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #00050f;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 2.5rem;
}

.title--index {
  background-image: linear-gradient(to bottom right, rgba(179, 246, 255, 0.5), rgba(255, 150, 67, 0.5)), url(../images/scotland.jpg);
}

.title__span {
  display: block;
  margin: 0 auto;
  padding: 2.5rem;
  backface-visibility: hidden;
}

.title__span--1 {
  font-size: 5rem;
  animation: moveInLeft 1.5s ease backwards;
}

.title__span--2 {
  font-size: 2.3rem;
  font-style: italic;
  animation: moveInLeft 2s ease 1s backwards;
  padding: 2.5rem;
}

.main-text {
  margin: 5rem 0;
}

.main-text > * {
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.heading-secondary {
  font-size: 5rem;
  text-align: center;
  margin: 10rem 0;
  letter-spacing: .2rem;
}

.heading-tertiary {
  font-size: 3rem;
  text-align: center;
  margin: 2.5rem;
}

.heading-quartiary {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}

.span {
  text-transform: uppercase;
  display: block;
  width: 25rem;
  margin: 0 auto;
  text-align: center;
}

.span--parental {
  background-color: black;
  color: white;
  font-size: 2rem;
  letter-spacing: 1.5rem;
  text-align: center;
}

.span--advisory {
  background-color: white;
  color: black;
  font-size: 3rem;
  letter-spacing: 1.2rem;
  text-align: center;
}

.span--explicit {
  background-color: black;
  color: white;
  font-size: 1rem;
  letter-spacing: .8rem;
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 10rem;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-small {
  margin-bottom: 2.5rem;
}

.burger {
  position: absolute;
  right: 1rem;
  width: 6.4rem;
}

@media (min-width: 768px) {
  .burger {
    display: none;
    cursor: pointer;
  }
}

.burger__lines {
  height: .25rem;
  width: 50%;
  background-color: floralwhite;
  border-radius: 5px;
  margin: .5em;
}

.logo {
  position: absolute;
  left: 3.2rem;
  top: 3.2rem;
  width: 6.4rem;
}

.social-profile {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: makeAppear 1.5s ease 3s backwards;
}

.social-profile__link {
  backface-visibility: hidden;
  margin: 2.5rem;
  width: 4.5rem;
}

.social-profile__img {
  width: 100%;
  padding: 1rem;
  transition: all ease-out 1s;
}

.social-profile__img--circle {
  border-radius: 50%;
}

.social-profile__img:hover {
  transform: scale(1.5);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) /2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  height: 10rem;
  animation: makeAppear 1.5s ease 3s backwards;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2.5rem;
  position: absolute;
  right: 0;
}

@media all and (max-width: 767px) {
  .navigation__list {
    visibility: hidden;
  }
}

.navigation__item {
  list-style: none;
  width: 33%;
  cursor: pointer;
}

.navigation__link {
  font-size: 2rem;
  text-decoration: none;
  padding: 2.5rem;
  transition: all ease 1s;
}

.navigation__link:link {
  color: floralwhite;
}

.navigation__link:visited {
  color: floralwhite;
}

.navigation__link:hover {
  color: #b37647;
  transform: scaleX(1.5);
}

.navigation__link--blue:hover {
  color: #59a8b3;
}

.section-intro {
  max-width: 900px;
  margin: 0 auto;
}

.section-music {
  color: floralwhite;
  background-color: rgba(0, 5, 15, 0.95);
  padding: 5rem;
}

.section-music__card {
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
}

.section-music__card--parental {
  background-image: linear-gradient(to left bottom, rgba(89, 168, 179, 0.5), rgba(179, 246, 255, 0.5)), url(../images/ultra-effects.jpg);
}

.section-music__card--homies {
  background-image: linear-gradient(to left bottom, rgba(179, 118, 71, 0.5), rgba(255, 150, 67, 0.5)), url(../images/ultra-madness.jpg);
}
