/******** Basics, Images & Links  ********/
.trio-header {
  background-image: url(../images/scotland-forest.jpg);
  margin-bottom: 2rem;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.sentence {
  color: rgba(255, 255, 255, 0.71);
  font-size: 1.6rem;
  animation: moveInBottom 1.5s ease 2s backwards;
}

.sentece q {
  font-size: 1.4rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 1%;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }

  100% {
    opacity: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/******* Footer Navigation *******/
.footer-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  margin: 3rem 0;
  background: linear-gradient(rgba(162, 32, 23, 0.67),rgba(201, 189, 29, 0.25));
}

.footer-navigation__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-navigation__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer-navigation__list {
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 1rem 0;
}

.footer-navigation__item {
  text-align: center;
}

.footer-navigation__link {
  color: rgba(255, 255, 255, 0.71);
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all .5s;

}

.footer-navigation__link:hover {
  color: rgba(201, 189, 29, 0.75);
  transform: scale(1.2);
}

/******* Footer *******/
footer {
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer p {
  margin: auto 0;
}
