@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}