// Colors
$color-primary: rgb(89, 168, 179);
$color-primary-light: rgb(179, 246, 255);
$color-secondary: rgb(179, 118, 71);
$color-secondary-light: rgb(255, 150, 67);

$color-complementary: rgb(162, 32, 23);

$color-white: rgb(255, 250, 240);
$color-black: rgb(0, 5, 15);

// Font Sizes
$font-small: 1rem;
$font-default: 1.6rem;
$font-medium: 2rem;
$font-big: 3rem;
$font-xbig: 5rem;
$font-huge: 8rem;

// Line Height
$line-height-small: 1.2rem;
$line-height-big: 1.5rem;

// Margin
$margin-xsmall: 1rem;
$margin-small: 2.5rem;
$margin-medium: 5rem;
$margin-big: 10rem;

// Padding
$padding-xsmall: 1rem;
$padding-small: 2.5rem;
$padding-medium: 5rem;
$padding-big: 10rem;

// Grid 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Breakpoints
$breakpoint-tablet: 768px;