/* ===BROWSER RESETS=== */
* {
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: hsla(0, 0%, 79%, 0.75);
  color: hsl(0, 0%, 31%);
  font-family: 'Inconsolata', monospace;
}

/* ===GENERAL STYLES=== */
.main-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.item-1,
.item-2,
.item-3,
.item-4,
.item-5 {
    margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 1.25rem;
  font-family: 'Courgette', cursive;
}

h1 {
  font-size: 2.5rem;
  color: hsla(0, 75%, 75%, 1);
}

h2 {
  font-size: 2.35rem;
  color: hsla(60, 75%, 75%, 1);
}

h3 {
  font-size: 2.20rem;
  color: hsla(120, 75%, 75%, 1);
}

h4 {
  font-size: 2rem;
  color: hsla(180, 75%, 75%, 1);
}

h5 {
  font-size: 1.75rem;
  color: hsla(240, 75%, 75%, 1);
}

h6 {
  font-size: 1.5rem;
  color: hsla(300, 75%, 75%, 1);
}

/* ===HEADER=== */
header {
  background-image: url(../../img/web-pages/brick-wall.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-color: rgba(136, 75, 10, 0.54);
}

.item-1 > h1 {
  color: #fff;
  margin-top: 3em;
  margin-bottom: 1em;
  text-shadow: 3px 2px black;
  letter-spacing: 0.225rem;
}

.item-1 > p {
  font-size: 1.5rem;
  padding: 1.25rem;
  color: #fff;
  text-shadow: 3px 3px black;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.0825rem;
}

/* === HEADINGS SECTION=== */
.item-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  background-image: url(../../img/web-pages/earth.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.item-2 * {
  height: 100px;
}

/* LISTS SECTION */
.item-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-3 h3 {
  text-align: center;
}

.lists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-3 ol, ul {
  list-style-position: inside;
  padding: 1rem;
}

.unordered-list,
.ordered-list {
  border-left: 1px solid white;
  margin: 1rem auto;
  width: 95%;
  background-color: #fff;
  box-shadow: 5px 3px 5px 5px hsla(126, 4%, 38%, 0.89);
}

.item-3 li {
  font-size: 1.2rem;
  padding: 1.35rem;
}


.item-3 p {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: .75px solid black;
}

.tip {
  margin: 0.8rem 0;
}


/* INLINE ELEMENTS SECTION */
.item-4 {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 2rem 0;
  padding: 1.1rem 0;
}

.item-4 p {
  color: white;
  padding: 1rem;
  line-height: 1.2rem;
}


/* NAV LIST */
.item-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item-5 ul{
  padding: 2.25rem;
  width: 100%;
}

.item-5 ul li {
  list-style: none;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  margin: 0.5rem;
}

li.bricks {
  background-image: url(../../img/web-pages/brick-wall.jpg);
}

li.hands {
  background-image: url(../../img/web-pages/colorful-boy.jpg);
}

li.vans {
  background-image: url(../../img/web-pages/vans.jpg);
}

.item-5 ul li a {
  text-decoration: none;
  font-size: 3rem;
}

.item-5 a:link {
  color: white;
}

.item-5 a:hover {
  color: hsla(43, 85%, 51%, 0.91);
}


/* FOOTER */
footer {
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer p {
  margin: auto 0;
}

/* Media queries and breakpoints */
@media all and (min-width: 600px) {
  main {
    padding: 0 5%;
  }
}

@media all and (min-width: 1200px) {
  main {
    padding: 0 7.5%;
  }
}

@media all and (min-width: 768px) {
  .lists-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .unordered-list,
  .ordered-list {
    margin: 0 1rem;
  }
}

@media all and (min-width: 900px) {
  .item-5 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  .item-5 ul li{
    width: 30%;
  }
}
