/* Header */
header {
  background-image: url(../../img/web-pages/art-painting-wall.jpg);
}

nav {
  background-color: rgba(10, 136, 133, 0.54);
}

/* Main */
main {
  display: flex;
  flex-direction: column;
}

/* Some Art */
.art-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.art-container h2 {
  margin-left: 5%;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0 1.25rem 1.25rem;
}

.photos-container a {
  width: 100%
  text-align: center;
  justify-content: space-around;
  align-self: center;
  margin: 2rem 0;
  text-decoration: none;
  color: hsla(47, 10%, 61%, 1);

}

.photos-container img {
  padding: 0.5rem;
  width: 90%;
  max-width: 800px;
}

.colorful-boy {

}

.photos-container p {
  font-size: .8rem;
}

.art-container > p {
  padding: 1.25rem;
  margin-left: 5%;
}

/* Other images */
.images-formats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images-formats-container h2 {
}

.images-formats-container img {
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.images-formats-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
}

.images-formats-container p {
  padding: 2rem;
  font-size: 1.25rem;
  align-self: center;
  border-left: .5px solid hsla(48, 82%, 21%, 1);
  margin: 1rem;
  color: #000;
}

.gif-container {
  background-color: hsla(50, 20%, 60%, 0.30);
}

.png-container {

  background-color: hsla(183, 19%, 60%, 0.3);
}

.svg-container {
  background-color: hsla(324, 19%, 60%, 0.3);
}

hr {
  width: 45%;
  margin: 0 auto;
}

/* NAV LIST */
.item-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item-5 ul{
  padding: 2.25rem;
  width: 100%;
}

.item-5 ul li {
  list-style: none;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  margin: 0.5rem;
}

li.bricks {
  background-image: url(../../img/web-pages/brick-wall.jpg);
}

li.hands {
  background-image: url(../../img/web-pages/colorful-boy.jpg);
}

li.vans {
  background-image: url(../../img/web-pages/vans.jpg);
}

.item-5 ul li a {
  text-decoration: none;
  font-size: 3rem;
}

.item-5 a:link {
  color: white;
}

.item-5 a:hover {
  color: hsla(43, 85%, 51%, 0.91);
}


/* FOOTER */
footer {
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer p {
  margin: auto 0;
}


/* Media Queries / Breakpoints */
@media all and (min-width: 600px) {
  .images-formats-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  .images-formats-container {
    padding: 5%;
  }

}

@media all and (min-width: 768px) {
  .photos-container {
    justify-content: space-around;
  }

  .photos-container a {
    width: 40%;
  }
}

@media all and (min-width: 900px) {
  .item-5 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  .item-5 ul li{
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
