/* Header */
header {
  background-image: url(../../img/web-pages/tech-desk.jpg);
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-color: hsla(0, 0%, 46%, 0.5);
}

/* Main-One / Absolute links */
.main-one {
  background-color: #777;
  box-shadow: 3px 3px 6px 6px #444;
}

h2 {
  margin-top: 0.5rem;
}

.back-panel {
  width: 90%;
  margin: 0 auto;
}

.main-one ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 3px 3px 6px 6px #5b5510;
}

.main-one ul li {
  padding: .5rem;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 200px;
  list-style: none;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 1px 1px 1px 1px #5b5510;
}

.main-one ul li a {
  align-self: center;
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 1px 1px 1px #5b5510;
}

.absolute-vans {
  background-image: url(../../img/web-pages/vans.jpg);
  background-position: center;
  background-size: cover;
}

.absolute-apple {
  background-image: url(../../img/web-pages/apple.jpg);
  background-position: center;
  background-size: cover;
}

.main-one :last-child{
  margin-top: 1rem;
}

@media all and (max-width: 600px) {
  .main-one ul li {
    width: 90%;
  }
}

/* Main-Two / Relative links */
.main-two * {
  border: 1px solid;
  color: grey;
}
