@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translate(0);
  }
}

@keyframes makeAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}