/******* Header *******/
.trio-header {
  background-image: url(../../images/scotland-forest.jpg);
  margin-bottom: 2rem;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(17, 236, 229, 0.36),rgba(201, 189, 29, 0.45));
  }

/******* Headers Container *******/
.headers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-image: url(../images/earth.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headers-container * {
  height: 100px;
}

h2 {
  color: hsla(60, 75%, 75%, 1);
}

h3 {
  color: hsla(120, 75%, 75%, 1);
}

h4 {
  color: hsla(180, 75%, 75%, 1);
}

h5 {
  color: hsla(240, 75%, 75%, 1);
}

h6 {
  color: hsla(300, 75%, 75%, 1);
}

/******* Lists Container *******/
#lists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(67, 70, 67, 0.73);
}

#lists-container h2 {
  margin-top: 1rem;
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
}

.lists-container > div {
  width: 90%;
}

.lists-container ol, ul {
  list-style-position: inside;
  padding: 1rem;
}

.unordered-list,
.ordered-list {
  border-left: 1px solid white;
  margin: 1rem auto;
  width: 95%;
  background-color: #fff;
  color: black;
  box-shadow: 5px 3px 5px 5px hsla(126, 4%, 38%, 0.89);

}

.lists-container li {
  font-size: .8rem;
  padding: .65rem;
}


.lists-container p {
  margin: .7rem;
  padding-bottom: 1rem;
  border-bottom: .75px solid black;
}

.tip {
  font-size: .7rem;
}

@media all and (min-width: 768px) {
  .lists-container > div {
    width: 40%;
    margin: 0 auto;
  }

  .unordered-list,
  .ordered-list {
    margin: 0 1rem;
  }
}


/******* Inline Container *******/
.inline-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 2rem 0;
  padding: 1.1rem 0;
}

.inline-container p {
  color: white;
  padding: 1rem;
  line-height: 1.2rem;
}


/******* Footer Navegation *******/
.footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer-navigation ul{
  padding: 2.25rem;
  width: 100%;
}

.footer-navigation ul li {
  list-style: none;
  background-position: center;
  background-size: cover;
  padding: 1rem;
  margin: 0.5rem;
}

.footer-navigation li {
  background-color: rgba(152, 83, 33, 0.45);
}

.footer-navigation ul li a {
  text-decoration: none;
  font-size: 3rem;
}

.footer-navigation a:link {
  color: white;
}

.footer-navigation a:hover {
  color: hsla(43, 85%, 51%, 0.91);
}

/******* Footer *******/
footer {
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer p {
  margin: auto 0;
}

/******* Media queries and breakpoints *******/
@media all and (min-width: 600px) {
  main {
    padding: 0 5%;
  }
}

@media all and (min-width: 1200px) {
  main {
    padding: 0 7.5%;
  }
}

@media all and (min-width: 900px) {
  .footer-navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }

  .footer-navigation ul li{
    width: 30%;
  }
}
