/******* Header *******/
.trio-header {
  background-image: url(../images/scotland-forest.jpg);
  margin-bottom: 2rem;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(17, 236, 229, 0.36),rgba(201, 189, 29, 0.45));
}

/* Main */
main {
  display: flex;
  flex-direction: column;
}

/******* Intro Container *******/
.intro-container p {
  letter-spacing: 1.6;
  line-height: 1.4;
  padding: .5rem 0.8rem;
  margin-bottom: .5rem;
}

.night-basket {
  width: 100%;
  margin: 1.25rem 0;
}


/******* Lists Container *******/
#lists-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(67, 70, 67, 0.73);
  margin: 2rem 0;
}

#lists-container h2 {
  margin-top: 1rem;
}

.lists-container {
  display: flex;
  flex-wrap: wrap;
}

.lists-container > div {
  width: 90%;
}

.lists-container ol, ul {
  list-style-position: inside;
  padding: 1rem;
}

.unordered-list,
.ordered-list {
  border-left: 1px solid white;
  margin: 1rem auto;
  width: 95%;
  background-color: #fff;
  color: black;
  box-shadow: 5px 3px 5px 5px hsla(126, 4%, 38%, 0.89);

}

.lists-container li {
  font-size: .8rem;
  padding: .65rem;
}


.lists-container p {
  margin: .7rem;
  padding-bottom: 1rem;
  border-bottom: .75px solid black;
}

.tip {
  font-size: .7rem;
}

@media all and (min-width: 768px) {
  .lists-container > div {
    width: 40%;
    margin: 0 auto;
  }

  .unordered-list,
  .ordered-list {
    margin: 0 1rem;
  }
}
/******* Footer *******/
footer {
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer p {
  margin: auto 0;
}

