/* Art Container */
.random-container {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.random-container h2 {
  text-align: center;
}

.photos-container {
  display: grid;
  grid-template-columns: 1;
  text-align: center;
  justify-content: space-around;
  align-self: center;
  text-decoration: none;
  width: 100%;
  margin: 2rem 0;
}
.photo{
  width: 100%;
  margin-bottom: 1rem;
}
.photos-container p {
  letter-spacing: 1.6;
  line-height: 1.4;
  padding: .5rem 0.8rem;
  margin-bottom: .5rem;
}
@media all and (min-width: 834px) {
  .photos-container {
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas: 
    'one two'
    'three four'
    ;
  }
  .photo{
    margin-bottom: 0;
  }
  .photo-1 {
    grid-area: one;
  }

  .photo-2 {
    grid-area: two;
  }

  .photo-3 {
    grid-area: three;
  }

  .photo-4 {
    grid-area: four;
  }
}
/* Composition */
.composition {
  width: 100%;
  position: relative;
  margin-top: 6rem;
}
.composition h2 {
  text-align: center;
}
.composition img {
  width: 100%;
}
.ultra-family {
  display: block;
  margin: 2rem auto;
  width: 100%;
  max-width: 500px;
}

.img-zoom {
  overflow: hidden;
}

.zoom {
  transform-origin: 0 0;
  transition: transform 1s, visibility .25s ease-out;
  cursor: pointer;
}

.zoom:hover {
  transform: scale(1.1);
}
