/* Art Container */
.art-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.photos-container {
  display: grid;
  grid-template-columns: 1;
  text-align: center;
  justify-content: space-around;
  align-self: center;
  text-decoration: none;
  width: 100%;
}

.photos-container p {
  letter-spacing: 1.6;
  line-height: 1.4;
  padding: .5rem 0.8rem;
  margin-bottom: .5rem;
}

.photos-container img {
  width: 100%;
  margin: 2rem 0;
}

@media all and (min-width: 834px) {
  .photos-container {
    width: 100%;
    grid-gap: 20px;
    grid-template-columns: 2;
    grid-template-rows: 2;
    grid-template-areas: 
    'one two'
    'three four'
    ;
  }

  .photos-container img {
    width: 100%;
  }

  .photo-1 {
    grid-area: one;
  }

  .photo-2 {
    grid-area: two;
  }

  .photo-3 {
    grid-area: three;
  }

  .photo-4 {
    grid-area: four;
  }
}