#title-container p {
    font-size: calc(14px + (18 - 14) *((100vw - 320px)/(1600 - 320)));
    width: 70%;
    margin: 0 auto;
  }

/******* Absolute Container *******/
.links-container {
  box-shadow: 3px 3px 6px 6px #444;
  margin-bottom: 2rem;
}

.links-container h2, p {
  text-align: center;
}

.back-panel {
  width: 90%;
  margin: 0 auto;
}

.links-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 3px 3px 6px 6px #5b5510;
}

.links-container ul li {
  padding: .5rem;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 200px;
  list-style: none;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 1px 1px 1px 1px #5b5510;
}

.links-container ul li a {
  align-self: center;
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 1px 1px 1px #5b5510;
  padding: 1.1rem;
}

.gallery {
  background-image: url(../images/art-wall.jpg);
  background-position: center;
  background-size: cover;
}

.projects {
  background-image: url(../images/sunset.jpg);
  background-position: center;
  background-size: cover;
}

.playlist {
  background-image: url(../images/kick-ass.jpg);
  background-position: center;
  background-size: cover;
}

.basics {
  background-image: url(../images/night-basketball.jpg);
  background-position: center;
  background-size: cover;
}


.images {
  background-image: url(../images/ultra-brazil.jpg);
  background-position: center;
  background-size: cover;
}


.home {
  background-image: url(../../images/scotland.jpg);
  background-position: center;
  background-size: cover;
}

.contact {
  background-image: url(../../images/el-nido.jpg);
  background-position: center;
  background-size: cover;
}

.links-container :last-child{
  margin-top: 1rem;
}

@media all and (max-width: 600px) {
  .links-container ul li {
    width: 90%;
  }
}

/******* Relative Container *******/
.relative-container * {
  border: 1px solid;
  color: grey;
}

.relative-container h2 {
  padding-top: 3.5rem;
}

.no-parent,
.with-parent {
  width:
}





.relative-container {
  margin: 1.5rem 0;
}

.relative-container ul {
  margin: 1.5rem 0;
}

.relative-container ul li {
  margin: 1.5rem 0;
}

.relative-container a {
  margin: 1.5rem 0;
}
