/******* Header *******/
#title-container p {
    font-size: calc(15px + (20 - 15) *((100vw - 320px)/(1600 - 320)));
    width: 70%;
    margin: 0 auto;
  }

/******* Absolute Container *******/
.links-container {
  background-color: hsla(0, 0%, 85%, 0.712);
  box-shadow: 1px 2px 6px #444;
  padding: 3rem 0;
}

.absolute {
  margin-bottom: 1rem;
}

.links-container h2 {
  text-align: center;
  margin-top: 1.25rem;
}

.links-container p {
  margin: 1.5rem 0;
}

.back-panel {
  width: 90%;
  margin: 0 auto;
}

.links-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.links-container ul li {
  padding: .5rem;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 200px;
  list-style: none;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 1px 1px 1px 1px #d4c624a1;
  border-radius: 4px;
}

.links-container ul li a {
  align-self: center;
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff;
  box-shadow: 1px 1px 1px 1px hsla(177, 94%, 52%, 0.631);
  padding: 1.1rem;
  border-radius: 3px;
  transition: all .5s;
}
.links-container ul li a:hover {
  transform: scale(1.1);
  background-color: hsla(55, 71%, 49%, 0.25);
}
.links {
  background-position: center;
  background-size: cover;
}
.gallery {
  background-image: url(../../images/art-wall.jpg); 
}

.projects {
  background-image: url(../../images/sunset.jpg);
}

.playlist {
  background-image: url(../../images/kick-ass.jpg);
}

.basics {
  background-image: url(../../images/night-basketball.jpg);
}

.images {
  background-image: url(../../images/ultra-brazil.jpg);
}

.home {
  background-image: url(../../images/scotland.jpg);
}

.about {
  background-image: url(../../images/genesis-mandela.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.soon {
  background-image: url(../../images/pyg.jpg);
  background-position: top;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.contact {
  background-image: url(../../images/el-nido.jpg);
}

@media all and (max-width: 600px) {
  .links-container ul li {
    width: 90%;
  }
}

